<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdrUiDICuKFfGmKOL2ne9vIl3BApXTkN0</string>
	<key>GCM_SENDER_ID</key>
	<string>334458491054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ucleus.Uzimmie</string>
	<key>PROJECT_ID</key>
	<string>uzimmie-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>uzimmie-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334458491054:ios:46576f1d04ab736e191d3f</string>
</dict>
</plist>